* {
  text-decoration: none;
  color: white; }

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: black;
  font-family: "Catamaran", sans-serif;
  font-weight: 300; }

h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: black;
  text-align: center; }

p {
  font-family: "Muli", sans-serif;
  font-weight: 400; }

.ba-header {
  position: absolute;
  width: 100%; }
  .ba-header .ba-header-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px; }
    .ba-header .ba-header-wrapper .ba-nav .ba-menu {
      display: flex; }
      .ba-header .ba-header-wrapper .ba-nav .ba-menu__item:not(:last-child) {
        margin-right: 50px; }
      .ba-header .ba-header-wrapper .ba-nav .ba-menu__item {
        list-style: none;
        text-transform: uppercase; }
      .ba-header .ba-header-wrapper .ba-nav .ba-menu__link {
        color: #fff;
        font-family: "Muli", sans-serif;
        font-weight: 700; }
  .ba-header__social {
    display: flex; }
    .ba-header__social .social__item {
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 1px solid #ab96fb;
      color: #fff; }
      .ba-header__social .social__item i {
        color: white; }

.ba-hero {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px; }
  .ba-hero .boarder-picture {
    position: absolute;
    z-index: 1;
    top: 250px;
    right: 250px; }
  .ba-hero .title__name {
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
    color: #11078f; }
  .ba-hero .title__bigname {
    font-size: 150px;
    line-height: 150px;
    color: #11078f; }
  .ba-hero .title__about {
    text-align: left;
    padding-bottom: 30px;
    width: 50%;
    color: white;
    text-transform: none;
    padding-top: 100px;
    font-weight: 400; }
  .ba-hero .title-button {
    display: block;
    width: 250px;
    height: 50px;
    background-color: #ff690f;
    text-transform: uppercase;
    border: inherit;
    color: white;
    font-size: 18px;
    font-family: "Catamaran", sans-serif;
    font-weight: 900; }

.benefits {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 3rem; }

.benefits-title {
  text-align: center;
  padding-top: 50px; }
  .benefits-title__name {
    font-size: 60px;
    line-height: 90px;
    font-weight: 900; }
  .benefits-title__text {
    font-size: 18px;
    line-height: 30px;
    text-align: left; }

.features {
  text-align: center;
  padding-top: 30px; }
  .features .img-wrapper {
    min-height: 192px;
    height: 100%; }
  .features__name {
    padding: 0px 36px 10px 36px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900; }
  .features .button {
    background-color: #ff690f;
    font-size: 15px;
    line-height: 15px;
    padding: 5px 10px;
    border: #ff690f;
    border-radius: 5px; }
    .features .button__link {
      color: white;
      font-family: "Catamaran", sans-serif; }

.ba-gallery {
  display: flex; }
  .ba-gallery .gallery-wrapper {
    width: 33.3%;
    overflow: hidden; }
    .ba-gallery .gallery-wrapper__img {
      font-size: 0;
      line-height: 0;
      display: block; }

.members {
  text-align: center;
  padding: 200px 0; }

.about-school {
  background-image: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%; }
  .about-school__title {
    font-size: 60px;
    line-height: 60px;
    padding: 200px 200px 50px 0; }
  .about-school__text {
    padding-right: 175px;
    padding-bottom: 20px; }
  .about-school .about-school-wrapper {
    display: inline-block;
    min-width: 33%;
    padding-top: 30px; }
